Repository apache/skywalking-python, pull requests merged in 2021-06, with the labels that each got.

#121 removed incorrect plugin sw_tornado5.py
  skywalking/plugins/sw_tornado.py
  skywalking/plugins/sw_tornado5.py
Labels: plugin

#123 fix module wrapt as normal install dependancy
  setup.py
Labels: bug

#124 add component id for python Psycopg -> PostgreSQL
  skywalking/__init__.py
  skywalking/plugins/sw_psycopg2.py
  tests/plugin/sw_psycopg2/expected.data.yml
Labels: plugin

#126 Support agent namespace.
  docs/EnvVars.md
  skywalking/config.py
  skywalking/trace/carrier.py
Labels: feature
